<body id="nsfw">
<% content_for :title, @image.name %>

<center><br>
  <%= link_to "≤", Image.where(nsfw: true).first, class: "nav_btn" %>
  <%= link_to "<", Image.where(nsfw: true).get_previous_image(@image), class: "nav_btn" %>
  <%= link_to "All", "/secretnsfwpage", class: "nav_btn" %>
  <%= link_to ">", Image.where(nsfw: true).get_next_image(@image), class: "nav_btn" %>
  <%= link_to "≥", Image.where(nsfw: true).last, class: "nav_btn" %>

  <h1><%= @image.name %></h1>
  <%= image_tag(@image.path, title: @image.name, class: 'garf_show') %>
</center>
</body>
