<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer> <!-- footer on every page -->
    <hr>
    <p>v1.1&nbsp;&nbsp;&#8226;&nbsp;&nbsp;<a href="mailto:info@garfieldcursedimage.org">Contact</a>&nbsp;<%= image_tag('other/email.png', class: "icon") %>&nbsp;&nbsp;&#8226;&nbsp;
      <a href="https://github.com/camzillajs101/garfield-cursed-image" target="_blank">Github</a>&nbsp;<%= image_tag('other/github.png', class: "icon") %>&nbsp;&nbsp;&#8226;&nbsp;
      This site was created from scratch entirely with Ruby on Rails. I'm kinda proud of it.
    </p>
  </footer>
</html>
